@import '~bootstrap/dist/css/bootstrap.css';

html {
    box-sizing: border-box;
    background-color: #323232;
    height: 100%;
    margin: 0;
}

body {
    font-family: "Lucida Grande", sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
    min-width:320px;
    position:relative;
    line-height: 1.75;
    opacity:1;
}

.grid {
    display: grid;
}


.main-header {
    min-height: 100vh;
    background-size: cover;
    background-position:center;
    position: relative;
    background-image: url('./back-colored.png');
    align-content: center;
}


.navbar {
    top: 0px;
    right: 0px;
    left: 0px;
    background-color:#323232 !important;
    position: absolute;
}

.nav-items{
    margin: 0 auto;
    display: inline-flex;
    justify-content: space-evenly;
    list-style: none;
    width: 100%;
    align-items: center;
    font-size: 18px;
}

.nav-item > a {
    text-decoration: none;
    color: white;
    border-bottom: 1px transparent;
}

.nav-item > a:hover{
    border-bottom: 1px solid white;
    transition: .2s;
}


.logoDreamBig {
    height: 60px;
    width: 100px;
}

.navbar-light .navbar-toggler-icon {
    background-image: url('./icons8-menu.svg');

}

.header-content {
    color: white;
    text-align: center;
    padding: 60px 20px;

}
.header-content h1{
    font-size: 60px;
    margin: 20px 0;
    line-height: 1.5;
}

.logoNeptune {
    display: block;
    margin: 0 auto;
    height: 500px;
    width: 500px;
}

.header-content p {
    font-size: 25px;
    margin: 30px 100px;
    line-height: 1.5;
}

/*

ОСНОВНАЯ ЧАСТЬ С 4 КАРТИНКАМИ

 */
.landing-section {
    background-color: #323232;
}

.landing-section h2 {
    margin: 60px 0;
    text-align: center;
    color: white;
}


.landing-section-two {
    background-color: white;
}
.landing-section-two h2 {
    margin: 60px 0;
    text-align: center;
    color: #323232;
}



.blog-home {
    grid-gap: 20px;
    grid-template-columns: repeat(4,1fr);
    margin-bottom: 50px;
}

.blog-item {
    text-decoration: none;
    /*grid-template-rows: 1fr 2fr;*/
    overflow:hidden;
}


.blog-item-img {
    display: block;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    /*transform: scale(1.05) translateY(-6.5px);*/
}

.blog-item-content {
    align-items: center;
    display: flex;
    justify-content: center;
    height:250px;
    border-style: groove;
    border-color: #C44D45;
    border-width: 1px;
}

.blog-item-content:hover {
    background-color: #C44D45;
}

.blog-item-content p {
    color: white;
    font-size: 25px;
    margin: 0 10px;
}

.blog-item-content-blue {
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: center;
    height:250px;
    border-style: groove;
    border-color: #006494;
    border-width: 1px;
}

.blog-item-content-blue p{
    font-size: 25px;
    margin: 0 10px;
    color: black;
}

.blog-item-content-blue:hover{
    background-color: #006494;
}

.blog-item-content-blue:hover p{
    color: white;
}
/*

ФОРМА

 */



.registrationForm {
    background-color: #323232;
}

.registrationForm h1{
    font-size: 60px;
    text-align: center;
    margin: 20px 0;
    line-height: 1.5;
    padding-top: 50px;
    color: white;
}

.registrationForm p {
    font-size: 25px;
    margin: 30px 100px;
    line-height: 1.5;
    text-align: center;
    color: white;
}

.registrationButton {;
    padding-left: 40px;
    padding-right: 40px;
    display: block;
    margin: 60px auto;
    background-color: transparent;
}
.form-check-label {
    font-size: 20px;
}


.form-group {
    width: 17em;
    margin: 0 auto;
    padding-bottom: 0.5em;
}


.form-check {
    width: 17em;
    margin: 0 auto;
    color: white;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    font-size: 0.8em;
}

.collaboration {
    min-height: 100vh;
    background-size: cover;
    background-position:center;
    position: relative;
    background-image: url('./Bitmap.png');
    align-content: start;
    justify-content: center;
}

.collaboration::before {
    content: '';
    position:absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 0;
}

.collaboration-content {
    color: white;
    padding: 70px 10px;
}

.collaboration-content h1{
    font-size: 60px;
    padding-top: 60px;
    text-align: center;
    margin: 0 0;
    line-height: 1.5;
}

.collaboration-content p {
    font-size: 25px;
    padding: 40px;
    margin: 30px 50px;
    line-height: 1.5;
}

.RegistrationButton {
    padding-left: 40px;
    padding-right: 40px;
    display: block;
    font-size: 25px;
    margin: 70px auto;
}

.footer h1{
    text-align: center;
    padding-top: 40px;
}
.footer-contact{
    padding-top: 40px;
    display: flex;
    justify-content: space-evenly;
}

.social{
    display: flex;
    justify-content: center;
    padding: 40px;
}

.social a{
    margin: 0 20px;
}

.footer-contact-item h3{
    font-size: 32px;
}

.footer-contact-item p{
    font-size: 18px;
}

.social-item-img {
    height: 70px;
}

.footer-final{
    text-align: center;
}


@media screen and (max-width: 992px) {
    .blog-home {
        grid-template-columns: repeat(2,1fr);
    }
}


@media screen and (max-width: 767px) {
    .logoNeptune {
        height: 380px;
        width: 380px;
    }
    .header-content {
        padding: 40px 20px;
    }
    .header-content h1 {
        font-size: 50px
    }
    .header-content p {
        font-size: 20px
    }


    .registrationForm h1 {
        font-size: 50px
    }
    .registrationForm p {
        font-size: 20px;
        margin: 10px 100px;
    }
    .form-check-label {
        font-size: 15px;
    }
    .nav-items {
        display: block;
        padding-left: 0;
    }
    .nav-item {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .collaboration-content h1 {
        font-size: 45px
    }
    .collaboration-content p {
        font-size: 20px
    }

    .footer-contact{
        display: grid;
    }



}

@media screen and (max-width: 420px) {
    .blog-home {
        grid-template-columns: 1fr;
    }

}